@font-face {
  font-family: Exo2Bold;
  src: url(../fonts/Exo2Bold.ttf);
}

@font-face {
  font-family: Exo2Regular;
  src: url(../fonts/Exo2Regular.ttf);
}

@font-face {
  font-family: ProximaNovaLight;
  src: url(../fonts/ProximaNovaLight.ttf);
}


.black_back {
  background-color: black;
  width: 1000px;
  height: 1000px;
}

.main_form_block {
  background-color: #fefefec4;
  width: 100%;
  max-width: 350px;
  height: 100%;
  max-height: 400px;
  min-height: 400px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content:space-around ;

  position: absolute;
  bottom: 4%;
  right: 21%;

  z-index: 2;

  display: none;
}

.form_title{
  width: 100%;
  text-align: -webkit-center;
}

.width_correction_title {
  max-width: 200px;
}

.form_title_text {
  font-family: "Exo2Bold", sans-serif;
  font-size: 24px;
  color: black;
}

.form_describtion{
  width: 100%;
  text-align: -webkit-center;
  margin-top: 15px;
}

.width_correction_describtion {
  max-width: 275px;
}

.form_describtion_text {
  font-family: "Exo2Regular", sans-serif;
  font-size: 14px;
  color: black;
}

.input_forms {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 275px;
  width:100%;
}

.container_for_input_picture {
  height: 40px;
  width:40px;
  border: solid 1px grey;
  background-color: white;
}

#user_mail {
  max-width:235px;
  width:100%;
  border:solid 1px grey;
}

#input_number {
  max-width:235px;
  width:100%;
  border:solid 1px grey;
}

#input_submit {
  width: 100%;
  height: 40px;
  background-color: red;
  border: 0px;
  color: white;
  text-transform: uppercase;
  font-family: "Exo2Regular", sans-serif;
  font-size: 24px;
}

#checkbox_text {
  font-size: 12px;
  color: #070707;
  font-family: "ProximaNovaLight", sans-serif;
}

#input_checkbox {
  width: 12px;
  margin-right: 10px;

}

.form_block_icon_size {
  width:12px;
}