@media all and /*(min-width: 1020px) and */(max-width: 1030px)
{
  body {
    min-height: 120%;
  }

  #checkbox_text {
    font-size: 19px;
  }

  .main_form_block{
    right: 1%;
  }

  .red_block_text{
    font-size: 47px;
  }

  .main_form_block{
    max-width: 450px;
    height: 100%;
    max-height: 600px;
    min-height: 400px;
  }

  .form_title_text {
    font-size: 42px;
  }

  .width_correction_title {
    max-width: 400px;
  }

  .form_describtion_text {
    font-size: 25px;
  }

  .width_correction_describtion {
    max-width: 350px;
  }

  .calendar_img_size{
    width: 50px;
  }

  .text_describtion_title {
    font-size: 40px;
  }

  .text_describtion {
    font-size: 30px;
  }

  .logo_block_left_image {
    max-width: 86px;
  }

  .logo_block_left_text {
    font-size: 26px;
  }

  .telephone_block_right_number {
    font-size: 35px;
  }

  .telephone_block_right_container {
    min-width: 400px !important;
  }

  .worker_picture_size {
    right: 0%;
    width: 69%;
  }

  #telephone_block_right_text_container {
    font-size: 30px;
  }

  li a {
    font-size: 30px;
  }

}

@media all and (min-width: 376px) and (max-width: 768px)
{
  #checkbox_text {
    font-size: 19px;
  }

  li a {
    font-size: 21px;
  }

  .telephone_block_right_container {
    min-width: 365px;
    background-color: #ffffff82;;
  }

  .main_describtion_block {
    margin-top: 0px;
  }

  .worker_picture_size {
    width: 47%;
  }

  .main_form_block {
    background-color: #fefefeed;
  }
}

@media all and /*(min-width: 1020px) and */(max-width: 415px)
{
  body {
    min-height: 130%;
    background-size: 480%;
  }

  .bar_background_color {
    background-color: #cccacabd;
  }

  #input_checkbox {
    width: 19px;
  }

  #checkbox_text {
    font-size: 19px;
  }

  li a {
    font-size: 19px;
  }

  .logo_block_left_text {
    font-size: 16px;
  }

  .telephone_block_right_number {
    font-size: 25px;
  }

  #telephone_block_right_text_container {
    font-size: 27px;
  }

  .telephone_block_right_container {
    background-color: #ffffffb8;
    min-width: 345px !important;
  }

  .red_block_text {
    font-size: 28px;
  }

  .calendar_img_size {
    width: 40px;
  }

  .text_describtion_title {
    font-size: 25px;
  }

  .text_describtion {
    font-size: 20px;
  }

  .main_describtion_block {
    max-width: 700px;
    width: 100%;
    margin-top: 0px;
  }

  .worker_picture_size {
    display: none;
  }

  .logo_block_left_container {
    background-color: #ffffffbf;
  }

  .main_form_block {
    background-color: #fefefe;
    width: 98%;
  }

}

@media all and /*(min-width: 1020px) and */(max-width: 370px)
{
  body {
    min-height: 130%;
    background-size: 560%;
  }

}

@media all and /*(min-width: 1020px) and */(max-width: 330px)
{

  li a {
    font-size: 15px;
  }

  .telephone_block_right_number {
    font-size: 22px;
  }

  #telephone_block_right_text_container {
    font-size: 23px;
  }

  .telephone_block_right_container {
    background-color: #ffffffb8;
    min-width: 315px !important;
  }

  .red_block_text {
    font-size: 23px;
  }

  .text_describtion_title {
    font-size: 19px;
  }

  .text_describtion {
    font-size: 14px;
  }

  .calendar_img_size {
    width: 35px;
  }

  .describtion_black_container {
    min-height: 52px;
    margin-top: 7px;
  }

  .main_form_block {
    height: 100%;
    max-height: 457px;
  }

  .form_title_text {
    font-size: 30px;
  }

  .form_describtion_text {
    font-size: 14px;
  }

  #checkbox_text {
    font-size: 12px;
  }
}

